$trainercolor: #FFCE00;


nav {
  background-image:  url("/images/navheader3.png");
  height: 303px;
  margin-bottom: 100px;




  nav-wrapper{
    margin: 0 auto;
    max-width: 1280px;
    width: 90%;

  }

  h1 {

  color: $trainercolor;

  }




.brand-logo {

display: block;
border-radius: 50%;
animation: spin 1000ms linear infinite, moveLeftToRight 3s forwards;
position: absolute;
left: 0;
margin-top: 82px;


@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
@keyframes moveLeftToRight {
  0%   { left: -100px; }
  100% { left: 44%; }
}

}


h1 {
    margin-top: 25px;
    text-align: center;
    animation: fadein 7s;
    color: $trainercolor;



@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
}
}
